.btn {
    width: 100%;
}

.img {
    width: 40%;
    height: 100%;
    margin-bottom: 1em;
    margin-right: 1em;
}
.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1519671282429-b44660ead0a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZnVuJTIwZXZlbnR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
  
  align-items: baseline;
}
 /*Source mixins*/

 /* media query necessary for xs breakpoint as it's effectively `
 @media (min-width: 0) { ... }
@include media-breakpoint-up(sm) { 576px }
@include media-breakpoint-up(md) { 768px }
@include media-breakpoint-up(lg) { 992px }
@include media-breakpoint-up(xl) { 1200px }
@include media-breakpoint-up(xxl) { 1400px }

 Usage

 Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}
 $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
); */